page-vault {
    ion-item.item.item-block.item {
        padding-left: 0px;
    }
    h3.content-text.xl-text.strong.blue {
        font-size: 130%;
        font-weight: bold;
    }
    ion-card img.pdf {
        width: 100%;
        height: 100%;
        margin: auto;
        object-fit: contain;
    }
    ion-card img.video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .card-md + ion-card {
        margin-top: 0px;
    }
    .vault-image {
        height: 200px;
        width: 100%;
    }
    .filter{
        background: #2977aa;
        padding-bottom: 3px;
    }
    .filter .label.label-md,.filter .label.label-ios{
        margin: 5px 0px;
        color: white;
        font-weight: 100;
        font-size: 80%;
    }
    .btn-search{
        float: right;
        margin-top: 25px;
        margin-bottom: 0px;
        height: 28px;
        font-size: 85%;
        font-weight: 100;
        padding: 5px 10px;
    }
    .filter ion-select{
        max-width: 100%;
        padding: 5px 10px;
        background: white;
        border-radius: 5px;
    }
    .alert-head {
        background: #9aadba;
    }
    .item.item-block.item-md, .item.item-block.item-ios {
        padding: 0px;
    }
    .filter .input-wrapper{
        display: block;
    }
    .filter .select-text {
        font-size: 90%;
        color: black;
    }
    
    .filter.overlay.hide-filter{
        opacity: 0;
    }
   
    .filter.overlay{
        position: sticky;
        top: 0px;
        z-index: 999;
        width: 100%;
        opacity: 1;
    }
    .filter ion-select button {
        height: 0px;
        display: none;
    }
}
