page-forgot-password {
    .container {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        padding-top: 50px;
    }
    .btn-right {
        float: right;
        margin-top: 50px;
    }
  
    .item-md{
        padding-left: 0px;
    }
}
