page-forgot-password {
    .container {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        padding-top: 50px;
    }
    .btn-right {
        float: right;
        margin-top: 50px;
    }
  
    .item-md{
        padding-left: 0px;
    }
    img {
        max-width: 100%;
        border: 0;
        height: 75%;
        width: 75%;
        display: block;
        margin: auto;
    }
    .xxl-text {
        font-size: 180%;
        margin-top: 0rem;
    }
}
