page-members {
    p.item-text{
        white-space: normal
    }
    .item-md ion-avatar ion-img, .item-md ion-avatar img {
        border-radius: 50%;
        overflow: hidden;
        width: 60px;
        height: 60px;
    }
}
