page-chat {
    .innerMessage{
        display: inline-block;
        padding: 5px 10px;
        background: color($colors,'primary');
        margin:5px;
        color: white;
        border-radius: 3px;
    }
    .username{
        font-weight: bold;
        font-size: 80%;
    }
    .message{
        font-size: 120%;
    }
    .elem Button{
        border-radius: 0;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .elem{
        position: relative;
        min-width: 50px;
    }
   
    .footer 
    .elem:first-child{
        flex-grow: 1;
    }
    .footer{
        display: flex;
        flex-direction: row;
        align-items:stretch;
    }
    ion-input{
        padding-left: 15px;
        font-size: 125%;
    }
    .message:after{
        content: '';
        display: block;
        clear: both;
    }
    .messsageLeft{
        float: left;
    }
    .messageRight{
        float: right;
        background: color($colors,'secondary')
    }
    .message.special .innerMessage .messageContent {
        background: white;
        display: inline-block;
        padding: 0 10px;
    }
    
    .message.special .innerMessage:before {
        content: '';
        height: 2px;
        background: #eee;
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        z-index: -1;
    }
    .message.special .innerMessage {
        color: black;
        font-size: 80%;
        width: 100%;
        float: none;
        text-align: center;
        position: relative;
        background: transparent;
    }
  
}
