page-trips {
    

    .card-content {
        padding: 5px;
    }
    
    ion-grid.grid {
        padding: 0px;
    }
    .btn-interested button {
        padding: 0px;
        margin: 0px;
        font-size: 100%;
    }
    .content-text {
        padding: 3px 0px;
    }
    .content-text .colored {
        color: #15c534;
        font-size: 115%;
    }
    p.sm-text {
        font-size: 90%;
    }
    p.md-text {
        font-size: 110%;
        color: #ffffff;
    }
    h3.content-text {
        font-size: 130%;
    }
    .top{
        position: relative;
        left: 10px;
        top: 10px;
    }
    // ion-col.col {
    //     margin: 0px;
    //     padding: 5px;
    // }
    // ion-card.card {
    //     margin: 10px;
    //     width: 100%;
    //     // min-width: 150px;
    //     // max-width: 169px;
    //     // width: 169px;
    // }
    ion-card img {
        display: block;
        width: 100%;
        height: 200px;
        margin-top: -50px;
    }
   
    .list {
        margin: 0px;
    }
    .button-round {
        border-radius: 64px;
        padding: 0 1rem;
        border-color: #ffffff;
        color: #ffffff;
        BACKGROUND: BLACK;
        OPACITY: .5;
    }
    .button-outline.activated{
        background: transparent;
        border-color: #488aff;
        color: #488aff;
        BACKGROUND: BLACK;
        OPACITY: .5;
    }
    button.disable-hover.bar-button.bar-button.bar-button-outline.bar-button-outline {
        padding: 0px 10px;
        height: 25px;
        color: #488aff;
        border-color: #488aff;
    }
    h1.text-center{
        text-align: center;
        color: #050505;
        font-family: sans-serif;
    }
    button.disable-hover.button.button.button-default.button-default.button-block.button-block {
        background: black;
        width: 100px;
        margin: auto;
        height: 30px;
        margin-bottom: 20px;
    }
    .bar-button-default, .bar-button-default.bar-button-default, .bar-button-clear-default {
        color: #222;
        background-color: transparent;
    }
    
}
