<!--
  Generated template for the BusinessPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>BUSINESS</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-refresher (ionRefresh)="forceReload($event)">
    <ion-refresher-content refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <br />
  <div id="indicator" class="{{isLoading && !isRefresh ? 'show-indicator' : 'hide-indicator'}}">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <!-- <ion-searchbar placeholder="Search Business" showCancelButton color="danger" (ionInput)="filterBusiness($event)"></ion-searchbar> -->

  <ion-card *ngFor="let business of businessList" (click)="businessDetails(business)">
    <div class="business-logo">
      <img [src]="business.business_logo" />
    </div>
    <div class="content-text">
      <div class="card-title pre-line" [innerHtml]="business.business_name | uppercase"></div>
      <h2 class="gray pre-line">{{business.member_name}}</h2>
      <div class="card-subtitle pre-line" [innerHTML]="business.business_industry"></div>
    </div>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPage">
    <ion-infinite-scroll-content loadingText="Loading more business..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>