page-vault-tags {
    ion-item.item.item-block.item {
        padding-left: 0px;
    }
    h3.content-text.xl-text.strong.blue {
        font-size: 130%;
        font-weight: bold;
    }
    ion-card img.pdf {
        width: 100%;
        height: 100%;
        margin: auto;
        object-fit: contain;
    }
    ion-card img.video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .card-md + ion-card {
        margin-top: 0px;
    }
    .vault-image {
        height: 200px;
        width: 100%;
    }
}
