page-member-details {
    .member-content {
        padding: 1em;
    }
    .member-info {
        text-align: center;
        // background: #297eb6;
        @include linear-gradient(bottom,$nighthawk);
        padding: 1rem;
        color: white;
    }
    .member-info img{
        border-radius: 50%;
        height: 50%;
        width: 50%;
    }
    .member-content img {
        max-width: 100%;
        border: 0;
        border-radius: 50%;
        height: 120px;
        width: 120px;
        // object-fit: cover;
    }
    
    .member-info p {
        -webkit-margin-before: 0em;
        -webkit-margin-after: .5em;
    }
    .break{
        display: block;
    }
    .business-logo {
        text-align: center;
        border-top: solid 1px gray;
        padding: 2em;
        margin-top: 2em;
    }
    .business-logo img {
        max-width: 100%;
        border: 0;
        height: 150px;
        width: 150px;
        border-radius: 0px;
    }
    .affiliates {
        border-top: solid 1px gray;
        margin-top: 2em;
    }
    .crew img{
        max-width: 100%;
        border: 0;
        border-radius: 50%;
        height: 80px;
        width: 80px;
        margin: auto;
        margin-top: 30px;
    }
    .vault img {
        border-radius: 0%;
        width: 100%;
    }
    .scroll-zoom-wrapper ion-card {
        width: auto;
        margin: 5px;
        padding: 0px;
        max-width: 220px;
    }
  
    ion-card-content.card-content.card-content-md {
        
        padding: 5px;
    }
    ion-grid.grid {
        padding: 0px;
    }
    ion-card.card.card-md {
        margin: 5px;
        
    }
    ion-card-content.card-content.card-content-ios {
        padding: 5px;
    }
    p.date-text {
        margin: 0 0 2px;
        font-size: 0.7em;
        font-weight: normal;
        line-height: 1.5;
        color: #222;
    }
    .price {
        color: #15c534;
        font-size: 115%;
    }
    // ion-row.row {
    //     display: -webkit-inline-box;
    // }
   
  
    /* Hide ion-content scrollbar */
//   ::-webkit-scrollbar{
//     display:none;
//   }
}
