<!--
  Generated template for the MemberDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Member Details</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <div class="basic-info">
    <div class="member-info">
      <img [src]="partial_details.avatar">
      <h2>{{partial_details.name}}</h2>
      <p class="no-margin">Member Since:</p>
      <p class="no-margin">{{partial_details.Member_since}}</p>
    </div>
    <div class="about">
      <p class="sm-text">
        <span class="strong">{{partial_details.name}}</span> is the
        <span class="strong" [innerHtml]="partial_details.position"></span> at
        <span class="strong blue" (click)="openBrowser(partial_details.business_url)" [innerHtml]="partial_details.company"></span>, a
        <span class="strong ">{{partial_details.business_model}}</span> business in the
        <span class="strong pre-line" [innerHtml]="partial_details.industry"></span> industry with the
        <span class="strong">{{partial_details.employee}}</span> employees.</p>
      <p class="sm-text">
        <span class="strong break">A bit more about me, </span> {{partial_details.personal_description}}
      </p>
      <p class="sm-text">
        <span class="strong break">I'm an expert in, </span> {{partial_details.expert_in}}
      </p>
      <p class="sm-text">
        <span class="strong break">I can also help you with, </span> {{partial_details.help_with}}
      </p>
    </div>
  </div>
  <div id="indicator" #spinner [class]="isLoading ? 'show-indicator' : 'hide-indicator'">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <div *ngIf="!isLoading">
    <div class="member-content">


      <div class="business-info">
        <div class="business-logo">
          <img [src]="details.business.business_logo">
        </div>
        <p class="sm-text">
          <span class="strong">A brief description about my business, </span> {{details.business.description}}
        </p>
        <p class="sm-text strong">I Prefer:</p>
        <p class="sm-text pre-line" [innerHTML]="item" *ngFor="let item of details.I_prefer"></p>
      </div>
      <div class="affiliates">
        <div class="crew" *ngIf="hasCrews">
          <h4>{{details.name}}'s Crew</h4>
          <ion-scroll scrollX="true">
            <ion-card *ngFor="let item of member_crews" (click)="memberDetails(item)">
              <img class="interested" [src]="item.avatar" />
              <ion-card-content>
                <h3 class="text-center">
                  <strong>{{item.name}}</strong>
                </h3>
                <div class="text-center sm-text">Member Since:</div>
                <div class="text-center sm-text">{{item.member_since}}</div>
              </ion-card-content>
            </ion-card>
          </ion-scroll>
        </div>
        <div class="vault">
          <div class="vault-video" *ngIf="hasVideo">
            <p class="md-text text-center strong">{{details.name}}'s Vault Videos</p>
            <ion-scroll scrollX="true">
              <ion-card *ngFor="let vault of vault_video">
                <img src="{{vault.thumbnail}}" (click)="vaultDetails(vault)">
                <div class="vault-title">
                  <h3>
                    <strong [innerHtml]="vault.title | uppercase"></strong>
                  </h3>
                </div>
                <ion-card-content>
                  <ion-item class="author">
                    <ion-avatar item-start>
                      <img src="{{vault.author_avatar}}">
                    </ion-avatar>
                    <p class="sm-text strong">
                      <strong>{{vault.author}}</strong> |
                      <span class="gray">{{vault.length}}</span>
                    </p>
                    <p>{{vault.posted}}</p>
                  </ion-item>
                </ion-card-content>
              </ion-card>
            </ion-scroll>
          </div>

          <div class="current-trips" *ngIf="hasCurrent">
            <p class="md-text text-center strong">Current Trips</p>
            <ion-scroll scrollX="true">
              <ion-card *ngFor="let trip of current_trips">
                <img src="{{trip.thumbnail}}" (click)="tripDetails(trip)">
                <ion-card-content>
                  <p class="date-text">{{trip.start_date}} - {{trip.end_date}}</p>
                  <h3>
                    <strong>{{trip.title | uppercase}}</strong>
                  </h3>
                  <p>
                    <strong class="price">{{trip.price}}</strong> Trip Fee</p>
                </ion-card-content>
              </ion-card>
            </ion-scroll>
          </div>
          <div class="past-trips" *ngIf="hasPast">
            <p class="md-text text-center strong">Past Trips</p>
            <ion-scroll scrollX="true">
              <ion-card *ngFor="let trip of past_trips">
                <img src="{{trip.thumbnail}}" (click)="tripDetails(trip)">
                <ion-card-content>
                  <p class="date-text">{{trip.start_date}} - {{trip.end_date}}</p>
                  <h3>
                    <strong>{{trip.title | uppercase}}</strong>
                  </h3>
                  <p>
                    <strong class="price">{{trip.price}}</strong> Trip Fee</p>
                </ion-card-content>
              </ion-card>
            </ion-scroll>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>