page-trip-details {
    .content-text {
        position: absolute;
        bottom: 0px;
        width: 100%;
        background: #070707;
        opacity: .7;
        padding: 5px;
        z-index: 1;
    }
    p {
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0.25em;
    }
    .content-details {
        padding: 10px;
    }
  
    ul.trip-list {
        padding-left: 25px;
    }
    .item-inner {
        border-bottom: none!important;
    }
    ion-item.item.item-block.item {
        padding: 10px;
    }
    .item ion-avatar img.coordinator {
        border-radius: 50%;
        overflow: hidden;
        width: 90px;
        height: 90px;
    }
   .item h2 {
        margin: 0 0 2px;
        font-size: 2.2rem;
        font-weight: normal;
    }

    ion-grid.grid {
        padding: 0px;
        margin-left: -10px;
        margin-right: -10px;
        width: 110%;
    }
    ion-col.left.col {
        margin-right: 5px;
        text-align: center;
        background: color($colors,secondary);
        color: white;
    }
    ion-col.right.col {
        margin-left: 5px;
        text-align: center;
        background: color($colors,secondary);
        color: white;
    }
    ion-col h1 {
        margin-top: 0rem;
        font-size: 4rem;
        margin-bottom: 5px;
    }
    .swiper-slide img {
        width: auto;
        height: 100%;
        object-fit: cover;
    }
    .slide-zoom {
        text-align: center;
        display: block;
        width: 100%;
        height: 100%;
        background: black;
    }
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
        left: 0;
        top: 10px;
        width: 100%;
    }
    ion-grid.trip-duration{
        border-bottom: dotted 1px gray;
        padding: 5px;
        padding-bottom: 10px;
    }
    .trip-duration p {
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0.25em;
        font-size: 110%;
    }
    .item ion-avatar img.interested {
        border-radius: 50%;
        overflow: hidden;
        width: 70px;
        height: 70px;
        margin: auto;
        margin-bottom: 10px;
    }
    .item ion-avatar img.going {
        border-radius: 50%;
        overflow: hidden;
        width: 60px;
        height: 60px;
    }
    .item ion-avatar img.leader {
        border-radius: 50%;
        overflow: hidden;
        width: 120px;
        height: 120px;
        margin: auto;
        margin-bottom: 10px;
    }
    
    .item p{
        white-space: normal;
        
        color: black;
    }
    .strong{
        font-weight: bold;
    }
    .leader-name {
        padding: 10px 0px;
        border-bottom: dotted 1px gray;
        margin-bottom: 20px;
    }
    .trip-leader,  {
        background: color($colors,light);
        padding: 10px;
    }
    .trip-leader ion-item.item.item-block.item{
        background: color($colors,light);
    }
    .whos-going, .whos-interested {
        padding-bottom: 20px;
        padding: 10px;
    }

    #floating-panel {
        position: absolute;
        top: 10px;
        right: 5px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
    #map {
        height: 250px;
      }
    .details-map {
        height: 50%;
        background: color($colors,light);
    }
   
    ion-spinner {
        margin: auto;
        display: block;
        height: 50px;
        width: 50px;
        margin-bottom: 20px;
    }
    .busy-indicator {
        height: 100%;
        padding: 100px 10px;
    }
    .gallery {
        height: 100%;
        background: black;
    }
    .tags .button-round {
        border-radius: 10px;
        padding: 0 1.0rem;
        height: 20px;
        margin: 5px 1px;
        margin-top: 0px;
    }

    ion-card.card.card-md {
        width: 160px;
        height: 170px;
        margin: 5px;
    }
    ion-card.card.card-ios {
        width: 160px;
        height: 170px;
        margin: 5px;
    }
    ion-scroll.scroll-x {
        min-height: 200px;
        height: auto;
    }
    img.interested {
        border-radius: 50%;
        height: 80px;
        width: 80px;
        margin: auto;
        margin-top: 20px;
    }
    .button-round-md,.button-round-ios {
        border-radius: 64px;
        padding: 0 2.6rem;
        display: block;
        margin: auto;
    }
}
